 body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 0;
      padding: 10px;
      color: #333;
      background-color: #f4f4f4;
    }

    .container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      max-width: 100%;
      margin: auto;
      padding: 15px;
      background: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    h1,
    h2 {
      color: #007bff;
    }

    h2:hover {
      color: #7a5bc2;
      cursor: pointer ;
    }
  
    .header {
      text-align: center;
    }
    .header h1 {
      margin: 10px 0;
    }
    .contact {
      margin: 10px 0;
      font-size: 14px;
    }
    .contact a {
      color: #007bff;
      text-decoration: none;
    }
    .section {
      
      display: flex;
      flex-direction: column;
    }
    .heading {
      margin-bottom: 10px;
      border-bottom: 2px solid #007bff;
      padding-bottom: 5px;
    }
    
    .item {
      margin-bottom: 15px;
    }
    .item h3 {
      margin: 0;
      font-size: 18px;
      color: #555;
    }
    .item p {
      margin: 5px 0;
      font-size: 14px;
    }
    .skills ul {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      list-style: none;
      padding: 0;
    }
    .skills ul li {
      background: #007bff;
      color: #fff;
      padding: 5px 10px;
     border-radius: 4px;
    }
    .link {
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
        color: #007bff;
    }

    @media (min-width: 800px) {
      body {
        padding: 20px;
      }

      .container {
        max-width: 900px;
        padding: 30px;
      }

      .section {
         flex-direction: row;
         align-items: flex-start;
         gap: 30px;
         padding: 5px;
         border: 1.5px solid black;
      }

      .heading {
        width: 200px;
        flex-shrink: 0;
      }
      h3 {
      padding-top: 20px;
     }

     .link {
      padding-top: 20px;
     }

     .item,
     .link {
       flex: 1;
  }


    }